@model WarhouseFacadeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Товар на складе:</h1>
    <p>
        @{
            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <div style="margin: 20px; display: inline-block;">
                    <div>
                        <h1>Товар @(i + 1)</h1>
                        <p>
                            @Model.Products[i].Name
                        </p>
                        <p>
                            @Model.Products[i].Info.Description
                        </p>
                        <p>
                            @Model.Products[i].Info.Price руб.
                        </p>
                        <p>
                            @Model.Products[i].Info.Quantity шт.
                        </p>
                        @using (Html.BeginForm("RemoveProduct", "Home", FormMethod.Post))
                        {
                            <input type="hidden" name="guid" value="@Model.Products[i].Guid" />
                            <div>
                                <input type="submit" value="Удалить" />
                            </div>
                        }
                    </div>
                </div>
            }
            @using (Html.BeginForm("AddProduct", "Home", FormMethod.Post))
            {
                <div>
                    <label for="name">Название:</label>
                    <input type="text" id="name" name="name" />
                </div>
                <div>
                    <label for="description">Описание:</label>
                    <input type="text" id="description" name="description" />
                </div>
                <div>
                    <label for="quantity">Количество:</label>
                    <input type="number" id="quantity" name="quantity" />
                </div>
                <div>
                    <label for="price">Цена:</label>
                    <input type="number" id="price" name="price" />
                </div>

                <div>
                    <input type="submit" value="Добавить" />
                </div>
            }

            @using (Html.BeginForm("GetProductsPriceSum", "Home", FormMethod.Post))
            {
                <div>
                    <label for="name">Введите название продукта:</label>
                    <input type="text" id="key" name="key" />
                </div>
                <div>
                    <input type="submit" value="Посчитать" />
                </div>
                <div>
                    <label for="sum">@Model.TempotarySum:</label>
                </div>
            }
        }
    </p>
</div>